<div class="review" id="review{{}}">
    <div class="restaurant-info">
        <h2>{{title}}</h2>
    </div>
    <div class="rating-container">
        <div class="rating" style="width: {{rating-width}};background-color:{{rating-color}};"></div>
        <span class="rating-value">{{rating}}★    </span>
    </div>
    <p class="preview">{{title}}</p>
    <p class="helpful"><span class="mark">Helpful</span>: {{helpful}} | <span class="mark">Unhelpful</span>: {{unhelpful}}</p>
</div>